{% extends 'base.twig' %}

{% block content %}

    <h2>Edit profile</h2>

    <form action="" method="POST">
        <div id="flasherror">{{ flash.error }}</div>

        <label>email:</label>
        <input type="text" name="email" value="{{ user.email }}"> <br />

        <label>Bio:</label>
        <textarea name="bio">{{ user.bio }}</textarea>

        <label>Age:</label>
        <input type="text" name="age" value="{{ user.age }}"> <br />

        <input type="submit" name="submit" value="Save profile">
    </form>
{% endblock %}
