{% extends 'base.twig' %}

{% block content %}

<h2>Forgotten password?</h2>

Hello {{ username }}. If you want to reset your password, please answer your security question.

<br />
<div>{{ flash.error }}</div><br />

<form action="" method="POST">

<label>{{ question }} </label>
<input type="password" name="ans"> <br />
		
<input type="hidden" name="nonce" value="{{ nonce }}">
<input type="submit" name="submit" value="Reset Password">
</form>
{% endblock %}

