{% extends 'base.twig' %}

{% block content %}

<h2>Forgotten password?</h2>

If you have forgotten your password, please set your username in the form below. Email will be sent with further instructions.

{{ flash.error }} <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="user"> <br />
		
<input type="hidden" name="nonce" value="{{ nonce }}">
<input type="submit" name="submit" value="Reset Password">
</form>
{% endblock %}

