{% extends 'base.twig' %}

{% block content %}

Email with data that should have been sent.

<br />
<div>TO: {{ to }}</div><br />
<div>SUBJECT: {{ subject }}</div><br />
<div>MESSAGE BODY: <br />
{{ message | raw }}
</div>

{% endblock %}

